@charset "UTF-8";



@import "../bower_components/foundation/scss/normalize.scss";




@import "../bower_components/foundation/scss/foundation/functions";

$row-width: rem-calc(1250);
// $total-columns: 12;
$column-gutter: rem-calc(20);

//@import "../bower_components/foundation/scss/foundation/settings"; // this is not working, causing an error on compilation
@import "../bower_components/foundation/scss/foundation/components/global";
@import "../bower_components/foundation/scss/foundation/components/type";
@import "../bower_components/foundation/scss/foundation/components/clearing";
@import "../bower_components/foundation/scss/foundation/components/inline-lists";
@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/foundation/scss/foundation/components/block-grid";
// @import "../bower_components/foundation/scss/foundation.scss"; // without importing the whole foundation, the final css files is 75% less heavier


/*
* ESADHaR
*/
@import "communs.scss";
@import "fonts.scss";



$menu-color:#FFF;
$menu-bg-color:#000;

html{
  position:relative;
  // background-color:#E0E0E0;
  // overflow:auto;
}

body{
  position:relative;
  height:100%!important;
}
//, html.overlay-open body
// html.overlay-open{
//   overflow:auto;
// }

#root{
  position:relative;
  min-height:100%;
}

#header{
  padding:1em 0;
}

#center{
  padding-bottom:6em;
}

#site-name{
  font-size: 1em;
  font-weight: bold;
  display:inline-block;
  background-color: $menu-bg-color;
  a{
    font-size: 2em;
    color:$menu-color;
  }
  margin:0;
  padding: 0.5em 1.3em;
}


#block-menu-menu-header-menu{
  ul{
    margin:0; padding:0 1em;
    background-color:$menu-bg-color;
    display:inline-block;
  }
  li{
    position:relative;
    margin:0; padding:0;
    line-height:1;
    letter-spacing: 0;
    ul{
      padding:0 0 1em 0;
      li{
        margin:0em;

      }
    }
    a{
      color:$menu-color;
      display:block;
      font-size:0.75em;
      padding:0.3em 0.8em;
      line-height:1.3em;
      text-transform: uppercase;
    }
  }

  @media #{$large-up} {
    ul{
      li{
      // @include inline-list();
        display:inline-block;
        vertical-align: top;
        ul{
          position:absolute;
          top:100%; left:0;
          z-index:2;
          display:none;
          padding:0 1em 1em;
          margin:0 0 0 -1em;
          li{
            display:block;
          }
        }
        &:hover{
          ul{
            display:block;
          }
        }
      }
    }
  }//end @media large-up

}

#leftsidebar{
  padding-left:0;
}

#block-menu-menu-menu-gauche{
  ul{
    margin:0;padding:1em;
    background-color:$menu-bg-color;
  }
  li{
    list-style: none;
    margin:0;padding:0;
    line-height:1;
  }
  a{
    color:$menu-color;
    display:block;
    padding:0.3em 0.4em;
  }
}

#block-system-main-menu{
  ul{
    margin:0;
    padding:0;
  }
  li{
    list-style:none;
    position:relative;
    margin:0; padding:0;
    line-height:1;
    display:inline-block;
    vertical-align: top;
    ul{
      li{
        margin:0em;
      }
    }
  }

  a{
    color:$menu-bg-color;
    background-color:$menu-color;
    display:block;
  }

  #content &{
    @media #{$large-up} {
      ul{
        li{
            margin:0 -0.3em 0 0;
          ul{
            position:absolute;
            top:0; left:100%;
            margin:0 0 0 0.15em;
            z-index:2;
            display:none;
            li{
              display:block;
            }
          }
          &:hover{
            ul{
              display:block;
            }
          }
        }
      }
    }//end @media large-up

    a{
      font-size:1.8em;
      font-weight: bold;
      text-transform: lowercase;
      letter-spacing: -0.02em;
      padding:0.6em 0.7em;
      // max-width:10em;
      margin:0 0 0.15em 0;
    }
  }


  #leftsidebar &{
     a{
      font-size:1em;
      padding:0.3em 0.3em;
      line-height:1.1em;
      max-width:9em;
      margin:0 0 0.15em 0;
    }
  }
}

#content{
  h2.page-title, h2.node-title{
    background-color:#fff;
    font-size:1.8em;
    padding:1em;
    a{color:#000;}
  }
  #block-system-main{
    background-color:#fff;
    padding:1em;
    h3{
      font-size:1.2em;
    }

    p{
      font-size:1em;
    }
  }
}


#footer{
  position:absolute;
  width:100%;
  bottom:0;
  .row{
    background-color:#fff;
    .region{
      padding:0.5em;
    }
  }

}

#main-bg-wrapper{
  position:fixed;
  z-index:-1;
  top:0; left:0;
  width:100%; height:100%;
  //background-color:red;
}
#main-bg{
  width:100%; height:100%;

}
