@charset "UTF-8";



@import "../bower_components/foundation/scss/normalize.scss";




@import "../bower_components/foundation/scss/foundation/functions";

$row-width: rem-calc(1250);
// $total-columns: 12;
$column-gutter: rem-calc(20);

//@import "../bower_components/foundation/scss/foundation/settings"; // this is not working, causing an error on compilation
@import "../bower_components/foundation/scss/foundation/components/global";
@import "../bower_components/foundation/scss/foundation/components/type";
@import "../bower_components/foundation/scss/foundation/components/clearing";
@import "../bower_components/foundation/scss/foundation/components/inline-lists";
@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/foundation/scss/foundation/components/top-bar";
@import "../bower_components/foundation/scss/foundation/components/block-grid";
// @import "../bower_components/foundation/scss/foundation.scss"; // without importing the whole foundation, the final css files is 75% less heavier

// @import "../bower_components/animate.scss/scss/animate.scss";

/*
* ESADHaR
*/
@import "communs.scss";
@import "fonts.scss";



$menu-color:#FFF;
$menu-bg-color:#000;

html{
  position:relative;
  // background-color:#E0E0E0;
  // overflow:auto;
}

body{
  position:relative;
  height:100%!important;
}
//, html.overlay-open body
// html.overlay-open{
//   overflow:auto;
// }

#root{
  position:relative;
  min-height:100%;
}

#header{
  padding:1em 0 2em;

}

#center{
  padding-bottom:6em;
}

#pushy-btn{
  color:#fff;
  background-color: $menu-bg-color;
  display:inline-block;
  padding:0.5em 1.2em 0.5em 1em;
  span{
    font-size:2em;
    position:relative;
    // display:block;
  }
  span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 0.8em;
    height: 0.10em;
    background: white;
    box-shadow:
      0 0.25em 0 0 white,
      0 0.5em 0 0 white;
  }

}

#site-name{
  font-size: 1em;
  font-weight: bold;
  display:inline-block;
  background-color: $menu-bg-color;
  a{
    font-size: 2em;
    color:$menu-color;
  }
  margin:0;
  padding: 0.5em 1.3em;
}


#block-menu-menu-header-menu{
  ul{
    margin:0; padding:0 1em;
    background-color:$menu-bg-color;
    display:inline-block;

    &:hover>li:not(:hover),.not-front & li:not(.active-trail):not(:hover){
      a{opacity:0.6;}
    }
  }

  li{
    position:relative;
    margin:0; padding:0;
    line-height:1;
    letter-spacing: 0;
    list-style: none;
    ul{
      padding:0 0 1em 0;
      li{
        margin:0em;
      }
    }
    a{
      color:$menu-color;
      display:block;
      font-size:0.75em;
      padding:0.3em 0.8em;
      line-height:1.3em;
      text-transform: uppercase;
      transition-property: opacity;
      transition-duration: 0.2s;
      transition-delay: 0s;
    }
  }

  @media #{$small-only} {


    &>.content>ul.menu{
      padding:1.5em 0.5em;
      >li{
        a{font-size: 1.2em;}
        >ul{
          padding:0 0 0 0.5em;
          a{
            font-size: 1em;
          }
        }
      }
    }

  }

  @media #{$large-up} {
    ul{
      li{
      // @include inline-list();
        display:inline-block;
        vertical-align: top;
        ul{
          position:absolute;
          top:100%; left:0;
          z-index:2;
          display:none;
          padding:0 1em 1em;
          margin:0 0 0 -1em;
          li{
            display:block;
          }
        }
        &:hover{
          ul{
            display:block;
          }
        }

      }//li
    }//ul
  }//end @media large-up
}

$pushy-width:300px;
.pushy{
  width:$pushy-width;
  background-color: $menu-bg-color;
}

.pushy-left{
    transform: translate3d(-$pushy-width,0,0); /* Updated the values */
    /* Don't forget the vendor prefixes */
}

#top{
  padding:0 0 1em 0;
  .columns{
    padding:0;
  }
}

#leftsidebar{
  padding-left:0;

  @media #{$small-only} {
    margin-top:0!important;
  }
}

#block-menu-menu-menu-gauche{
  ul{
    margin:0;padding:1em;
    background-color:$menu-bg-color;

    &:hover>li:not(:hover),.not-front & li:not(.active-trail):not(:hover){
      a{opacity:0.6;}
    }
  }
  li{
    list-style: none;
    margin:0;padding:0;
    line-height:1;
  }
  a{
    color:$menu-color;
    display:block;
    padding:0.3em 0.4em;
  }
  // @media #{$small-only} {
  //   display:none;
  // }
}

#block-system-main-menu{
  ul{
    margin:0;
    padding:0;
  }
  li{
    list-style:none;
    position:relative;
    margin:0; padding:0;
    line-height:1;
    display:inline-block;
    vertical-align: top;
    ul{
      li{
        margin:0em;
      }
    }
  }

  a{
    color:$menu-bg-color;
    background-color:$menu-color;
    display:block;
    //
    font-weight: bold;
    text-transform: lowercase;
    letter-spacing: -0.02em;
    line-height: 1.2;
    transition-property: color;
    transition-duration: 0.2s;
    transition-delay: 0s;
  }

  @media #{$small-only} {
    &>.content>ul>li{
      margin-right:-0.5em;
      padding:0 0.4em 0.4em 0;
      a{
        font-size:1.3em;
        padding:0.6em 0.7em;
        letter-spacing: -0.06em;
      }
      >ul{display:none;}
    }
  }

  @media #{$large-up} {
    &>.content>ul>li{
      // a{
      //       font-weight: bold;
      //       text-transform: lowercase;
      //       letter-spacing: -0.02em;
      //       line-height: 1.2;
      //       transition-property: color;
      //       transition-duration: 0.2s;
      //       transition-delay: 0s;
      // }
      >a{font-size:1.7em;}
      >ul{
        >li{
          >a{font-size:1.3em;}
          li{
            a{font-size: 0.9em;}
          }
        }
      }
    }

    &>.content{
      >ul{
        // graphical tuning regarding level
        >li{
          $li-pad : 0.9em;
          padding:0 $li-pad $li-pad 0;

          a{
            padding:0.6em 0.7em;
          }
          ul{
            position:absolute;
            top:0; left:100%;
            z-index:2;
            li{padding:0 0.2em 0.2em 0;}
          }

          >ul{
            margin-left:-$li-pad;
            padding-left:0.2em;
            >li{
              li{
                a{padding:1em; min-width:15em;}
              }
            }
          }
        }// >li

        // interactivité généric sensé marcher pour n'iimporte quel profondeur d'arbo
        li{
          >ul{
            opacity:0;
            top: -150%;
            transition-property: opacity, top;
            transition-duration: 0.5s, 0.5s;
            transition-delay: 0s, 0s;
          }
          &:not(:hover)>ul{z-index:-1;}

          &:hover{
            >ul{
              opacity:1;
              top: 0;
              transition-property: opacity, top;
              transition-duration: 0.4s, 0.4s;
              transition-delay: 0.1s, 0s;
              &:hover>li:not(:hover) a{color:#898989;}
            }
          }
        }

        // first level li behaiviours
        >li{
          transition-property: opacity;
          transition-duration: 0.2s;
          transition-delay: 0s;
        }
        &:hover{
          >li:hover{z-index:10;}
          >li:not(:hover){
            opacity:0.6;
            z-index:0;
          }
        }

      }// ul
    }// for all, mainly for home, bellow sidebar tuning

    #leftsidebar &>.content{
      >ul{
        >li{
          $li-pad : 0.4em;
          padding:0 $li-pad $li-pad 0;
          margin-right:-.5em;
          >a{
            font-size:1.15em;
            padding:0.5em 0.6em;
            letter-spacing: -0.1em;
          }
          >ul{
            margin-left:-$li-pad;
            padding-left:0.2em;
            >li{
              >a{font-size:1em;}
              li{
                a{font-size: 0.8em;}
              }
            }
          }
        }//>li
      }//>ul
    }//#leftsidebar

  }//end @media large-up


}// end main menu

#content{
  h2.page-title, h2.node-title{
    background-color:#fff;
    font-size:1.8em;
    padding:1em;
    margin:0;
    a{color:#000;}
  }
  #block-system-main{
    background-color:#fff;
    padding:1em;
    margin:0 0 1em 0;
    h3{
      font-size:1.2em;
    }

    p{
      font-size:1em;
      line-height: 1.5;

      a{
        color:#000;
        border-bottom: 1px dashed #1A1A1A;
        &:hover{
          border-bottom: 1px dashed #000;
        }
      }
    }

  }
}

#block-menu-block-1, #block-fieldblock-node-page-default-field-documents {
  background-color: #fff;
  padding:1em;
  overflow:hidden;
  // word-wrap:break-word;
  margin:0 0 1em 0;

  >h2{
    font-size: 1.134em;
    font-weight: bold;
    text-transform: lowercase;
  }

  ul{
    padding:0; margin:0;
    &:hover>li:not(:hover),.not-front & li:not(.active-trail):not(:hover){
      a{opacity:0.6;}
    }
    ul{padding:0 0 0.5em 0.5em;}
  }

  li.leaf{
    list-style: none;
    padding:0; margin:0;
    line-height: 1.2;
    &.active{
      font-weight: bold;
    }
  }
  a{
    font-size: 0.756em;
    color:#000;
    line-height: 0.8;
    &:hover{
      border-bottom: 1px dashed #000;
    }
  }
  // span.file{
  //   line-height: 0.6;
  // }
  .file-icon{display:none;}

}


#footer{
  position:absolute;
  width:100%;
  bottom:0;
  .row{
    height:auto;
    background-color:#fff;
    .region{
      text-align: center;
      padding:0.5em;
    }
  }
}

#block-footer-message-footer-message{
  p{
    font-size:0.75em;
    text-align: center;
    margin:0;
  }
}

#block-system-powered-by, #block-block-1{
  display:inline-block;
  .content{
    font-size: 0.63em;
  }
}

#main-bg-wrapper{
  position:fixed;
  z-index:-1;
  top:0; left:0;
  width:100%; height:100%;
  background-color:#C0C0C0;
}
#main-bg{
  width:100%; height:100%;
  // display:none;
}
